*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

.app {
  width: 96%;
  margin: auto;
}

a,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
  .app {
    width: 99%;
  }
}
